body {
    background-image: url("./images/background.jpg");
}

h1 {
    background-color: #748cab;
    border-radius: 50px;
}

#market img,
#inventory img {
    width: 100%;
    height: 100%;
}

#market:hover,
#inventory:hover {
    cursor: pointer;
    background-color: #748cab;
    padding: 10px;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

#market:hover p,
#inventory:hover p {
    color: white;
}

#land-group {
    background-color: #BBCBCB;
    border-radius: 20px;
}

.harvest_amount {
    color: white;
}

.land:hover {
  /* box-shadow: 5px 10px #888888; */
  background-color: #3066BE;
}